img {
    border-radius: 8px;
}

ion-item {
    border-radius: 9px 9px 9px 9px;
    --background: #BF6C50;
    --min-height: 100px;
    font-size: 15px;
}

ion-avatar {
    width: 80px;
    height: 80px;
}