<ion-row>
    <ion-col size="12" size-xl="3" size-lg="4" size-md="4" size-sm="6">
        <div>
            <ion-title>Retor</ion-title>
            <ion-card>
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../../assets/img/francisco-madariaga.jpg">
                    </ion-avatar>
                    <ion-label>Pokémon Yellow <br> dsfsdfs</ion-label>
                </ion-item>
            </ion-card>
        </div>
    </ion-col>
</ion-row>