<app-headers titulo="busca tu aula"></app-headers>
  <ion-item>
    <ion-label>Edificio</ion-label>
    <ion-select (ionChange)="change(value)" [(ngModel)]="edificio">
      <ion-select-option *ngFor="let edificio of sHorarios.edificios; index as i" [value]="i">{{edificio[0]}}</ion-select-option>
    </ion-select>
  </ion-item>
<ion-content>
    <ion-row>      
        <ion-col>
             AULAS
            <ion-list>
                <ion-card *ngFor="let aula of sHorarios.aulasAsignadas">
                    <ion-item>
                        {{aula}}
                    </ion-item>
                </ion-card>
            </ion-list>
        </ion-col>
        <ion-col size="5">
            PROFE
            <ion-list cdkDropList #firstList="cdkDropList" [cdkDropListData]="sHorarios.profesAsignados" [cdkDropListConnectedTo]=" [secondList] " (cdkDropListDropped)="drop($event) ">
                <ion-card *ngFor="let item of sHorarios.profesAsignados" cdkDrag [cdkDragDisabled]="item == 'Vacio' ? true : null">
                    <ion-card-content>
                        {{ item }} 
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-col>
        <ion-col size="5 ">
            PROFE SIN AULA
            <ion-list cdkDropList #secondList="cdkDropList" [cdkDropListData]="sHorarios.profesOtros " [cdkDropListConnectedTo]="[firstList] " (cdkDropListDropped)="drop($event) ">
                <ion-card *ngFor="let item of sHorarios.profesOtros; index as i" cdkDrag [cdkDragDisabled]="i == 0 ? true : null">
                    <ion-card-content>
                        {{ item }}
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>