<app-headers titulo="busca tu aula"></app-headers>

<ion-content>
    <ion-row>      
        <ion-col>
             AULAS
            <ion-list>
                <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                    <ion-card-content>
                        {{item}}
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-col>
        <ion-col size="5">
            PROFE
            <ion-list cdkDropList #firstList="cdkDropList" [cdkDropListData]="listaUno" [cdkDropListConnectedTo]=" [secondList] " (cdkDropListDropped)="drop($event) ">
                <ion-card *ngFor="let item of listaUno" cdkDrag [cdkDragDisabled]="item == 'Vacio' ? true : null">
                    <ion-card-content>
                        {{ item }} 
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-col>
        <ion-col size="5 ">
            PROFE SIN AULA
            <ion-list cdkDropList #secondList="cdkDropList" [cdkDropListData]="listaDos " [cdkDropListConnectedTo]="[firstList] " (cdkDropListDropped)="drop($event) ">
                <ion-card *ngFor="let item of listaDos; index as i" cdkDrag [cdkDragDisabled]="i == 0 ? true : null">
                    <ion-card-content>
                        {{ item }}
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>