<app-headers titulo="busca tu aula"></app-headers>

<ion-content>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    1
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="5">
            <ion-list cdkDropList #firstList="cdkDropList" [cdkDropListData]="listaUno" [cdkDropListConnectedTo]=" [secondList] " (cdkDropListDropped)="drop($event) ">
                <ion-card *ngFor="let item of listaUno " cdkDrag>
                    <ion-card-content>
                        {{ item }}
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-col>

        <ion-col size="5 ">
            <ion-list cdkDropList #secondList="cdkDropList" [cdkDropListData]="listaDos " [cdkDropListConnectedTo]="[firstList] " (cdkDropListDropped)="drop($event) ">
                <ion-card *ngFor="let item of listaDos " cdkDrag>
                    <ion-card-content>
                        {{ item }}
                    </ion-card-content>
                </ion-card>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>