<app-headers> Directorio </app-headers>

<ion-toolbar>
    <ion-button (click)="mostrarAreas( $event )" color="dark" slot="end">
        {{sDirectorio.actual.nombre}}
    </ion-button>
</ion-toolbar>

<ion-content>
    <ion-title color="dark">{{sDirectorio.actual.nombre}}
        <ion-text *ngIf="sDirectorio.actual.personal.length == 0" color="secondary">
                <p>[No hay personal]</p> 
        </ion-text>
    </ion-title>
    <div *ngFor="let persona of sDirectorio.actual.personal">
        <ion-title>{{persona.puesto}}</ion-title>
        <ion-card (click)="verDetalle()">
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../../assets/img/francisco-madariaga.jpg">
                </ion-avatar>
                <ion-label> {{persona.nombre}} <br> primero </ion-label>
            </ion-item>
        </ion-card>
    </div>
    <div *ngFor="let area of sDirectorio.actual.areas">
        <ion-title color="primary">{{area.nombre}}
            <ion-text *ngIf="area.personal.length == 0" color="secondary">
                  <p>[No hay personal]</p> 
            </ion-text>
        </ion-title>
        <div *ngFor="let persona of area.personal">
            <ion-title>{{persona.puesto}}</ion-title>
            <ion-card (click)="verDetalle()">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="../../../assets/img/francisco-madariaga.jpg">
                    </ion-avatar>
                    <ion-label> {{persona.nombre}} <br> primero </ion-label>
                </ion-item>
            </ion-card>
        </div>
        <div *ngFor="let subarea of area.areas ">
            <ion-title background-color="dark">{{subarea.nombre}}
                <ion-text *ngIf="subarea.personal.length == 0" color="secondary">
                    <p>[No hay personal]</p> 
                </ion-text>
            </ion-title>
            <div *ngFor="let persona of subarea.personal">
               <ion-title>{{persona.puesto}}</ion-title>
                <ion-card (click)="verDetalle()">
                    <ion-item>
                        <ion-avatar slot="start">
                            <img src="../../../assets/img/francisco-madariaga.jpg">
                        </ion-avatar>
                        <ion-label> {{persona.nombre}} <br> segundo </ion-label>
                    </ion-item>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>  