/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.APOSGR-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #BF6C50;
}

.APOSGR-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #FF906B;
}

.APOSGR-Num-aula {
    padding: 10px;
    top: -5px;
    color: #40241B;
    font-size: 40px;
    font-family: Arial;
}

.APOSGR-letra-label {
    color: #ffffff;
    font-size: 15px;
    font-family: Arial;
}


/* Color Theme Swatches in Hex */

.AlaNorte-ion-item {
    top: 5px;
    display: inline-grid;
    border-radius: 9px 9px 9px 9px;
    --background: #315259;
}

.AlaNorte-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #C5D3D9;
}

.AlaNorte-Num-aula {
    padding: 10px;
    top: -5px;
    color: #591426;
    font-size: 40px;
    font-family: Arial;
}

.AlaNorte-letra-label {
    color: #0D0000;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.ATECNO-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #667302;
}

.ATECNO-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #B9BF04;
}

.ATECNO-Num-aula {
    padding: 10px;
    top: -5px;
    color: #403014;
    font-size: 40px;
    font-family: Arial;
}

.ATECNO-letra-label {
    color: #D6D982;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.AlaSur-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #F24405;
}

.AlaSur-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #F27405;
}

.AlaSur-Num-aula {
    padding: 10px;
    top: -5px;
    color: #F15505;
    font-size: 40px;
    font-family: Arial;
}

.AlaSur-letra-label {
    color: #400101;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.ATALLE-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #024059;
}

.ATALLE-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #048ABF;
}

.ATALLE-Num-aula {
    padding: 10px;
    top: -5px;
    color: #011F26;
    font-size: 40px;
    font-family: Arial;
}

.ATALLE-letra-label {
    color: #B5D991;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.ACTEA-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #1E592D;
}

.ACTEA-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #A6652D;
}

.ACTEA-Num-aula {
    padding: 10px;
    top: -5px;
    color: #094021;
    font-size: 40px;
    font-family: Arial;
}

.ACTEA-letra-label {
    color: #99B1BF;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.AAUDI-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #0ABF04;
}

.AAUDI-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #F24535;
}

.AAUDI-Num-aula {
    padding: 10px;
    top: -5px;
    color: #0D0D0D;
    font-size: 40px;
    font-family: Arial;
}

.AAUDI-letra-label {
    color: #0D0D0D;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.AARTE-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #AEEBF2;
}

.AARTE-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #30A5BF;
}

.AARTE-Num-aula {
    padding: 10px;
    top: -5px;
    color: #401D10;
    font-size: 40px;
    font-family: Arial;
}

.AARTE-letra-label {
    color: #8C4815;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.AMUSI-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #242D40;
}

.AMUSI-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #5D6973;
}

.AMUSI-Num-aula {
    padding: 10px;
    top: -5px;
    color: #00080D;
    font-size: 40px;
    font-family: Arial;
}

.AMUSI-letra-label {
    color: #79838C;
    font-size: 15px;
    font-family: Arial
}


/* Color Theme Swatches in Hex */

.AlaPatio-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #667302;
}

.AlaPatio-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #B9BF04;
}

.AlaPatio-Num-aula {
    padding: 10px;
    top: -5px;
    color: #403014;
    font-size: 40px;
    font-family: Arial;
}

.AlaPatio-letra-label {
    color: #D6D982;
    font-size: 15px;
    font-family: Arial
}

.OtroAHUEN-ion-item {
    top: 5px;
    border-radius: 9px 9px 9px 9px;
    --background: #BF6C50;
}

.OtroAHUEN-Fondo-card {
    border-radius: 9px 9px 9px 9px;
    background-color: #FF906B;
}

.OtroAHUEN-Num-aula {
    padding: 10px;
    top: -5px;
    color: #40241B;
    font-size: 40px;
    font-family: Arial;
}

.OtroAHUEN-letra-label {
    color: #ffffff;
    font-size: 15px;
    font-family: Arial;
}